body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0 20px;
}
.form-container {
    width:300px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.form-container h2 {
    margin-top: 0;
}
.form-container label {
    display: block;
    margin-bottom: 5px;
}
.form-container input {
    width: 93%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.form-container input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    width: 99%;
}
.form-container input[type="submit"]:hover {
    background-color: #0056b3;
}
.message {
    color: red;
    margin-bottom: 10px;
}